header{
    background-color: rgb(36, 36, 197);
    height: 150px;
    text-align: center;

}
form{
    background-color: black;
    text-align: center;
    text-decoration: none;
    height: 30px;
    color: #ffffff;
}
nav{
    text-decoration: none;
    background-color: black;
    color: #ffffff;
    height: 30px;
    text-align: center;
}
a{
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
}

aside{
    
    height: 10px;
    width: 200px;
}
footer{
    background-color: black;
    text-align: center;
    color: #ffffff;
    height: 40px;
}